.App {
  text-align: center;
  height: 100vh;
  background-color: gainsboro;
  box-sizing: border-box;
  color: black;
  display: flex;
  flex-flow: column nowrap;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

.home-nav {
  position: absolute;
  left: 15px;
  top: 15px;
}

.login-nav {
  margin: 3vh 2vw;
  font-size: 1.5rem;
  transition: .1s linear;
}

.App-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.App-body {
  flex: 10 0 80vh;
  padding: 0vh 7vw;
}

ul {
  font-size: 1.2rem;
  margin: 3vh 3vw;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  list-style-type: none;
}

a {
  color: #666;
  text-decoration: none;
  transition: .1s linear;
}

a:hover {
  color: black;
  text-decoration: underline;
}
