.App {
  text-align: center;
  height: 100vh;
  background-color: gainsboro;
  color: black;
  display: flex;
  flex-flow: column nowrap;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

.home-nav {
  position: absolute;
  left: 10px;
  top: 10px;
}

.App-header {
  display: flex;
  height: 90vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  flex: 10 0 80vh;
  padding: 0vh 7vw;
}

.App-link {
  margin: 1rem;
  font-size: 3rem;
  color: black;
}

ul {
  font-size: 1.2rem;
  margin: 3vh 3vw;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}
