.formContainer {
  display: flex;
  flex-flow: column nowrap;
  height: 80vh;
  align-items: center;
  justify-content: center;
}

.inputSection {
  display: flex;
  flex-flow: column nowrap;
}

.header {
  cursor: default;
  font-size: 2.5rem;
}

.form {
  display: flex;
  flex-flow: column nowrap;
}

.input {
  padding: 1rem;
  width: 20vw;
  background: none;
  border: 0;
  outline: 0;
  transition: .1s linear;
  font-size: 1.1rem;
}

.input:focus {
  font-size: 1.3rem;
}

.error {
  background-color: crimson;
  color: white;
}

.submit {
  border: none;
  background: none;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;
}

.additionalActionsContainer {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 2px solid rgba(0,0,0,0.1);
}

.forgotEmail {
  margin-top: 3rem;
  cursor: pointer;
  color: grey;
}

.forgotEmail:hover {
  text-decoration: underline;
}

.promptContainer {
  margin-top: 1rem;
}

.forgotEmail {
  cursor: pointer;
  color: grey;
}

.forgotEmail:hover {
  text-decoration: underline;
}
