.artistProfileContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  grid-template-rows: auto;
}

.artistProfile {
  margin-left: 3vw;
}

.artistPicMedia {
  grid-column: 0 / 4;
}

.artistName {
  font-size: 2rem;
}

.artistPic {
  height: 25vh;
  border-radius: 100%;
}

.mediaLinksSection {
  margin-top: 1rem;
}

.mediaContainer {
  padding: 5px 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.artistLocation {
  text-align: left;
  color: dimgrey;
  cursor: default;
}

.rightSection {
  grid-column: 2 / 8;
  grid-row: 1;
}
