.artistProfileContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin-bottom: 10rem;
}

.mediaContainer {
  grid-column: 3 / 8;
}

.postContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  padding-top: 2em;
  padding-left: 1em;
}

.title {
  word-wrap: break-word;
  width: 75%;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: 10%;
  cursor: pointer;
}

.artworkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  padding: 10px;
  background-color: rgba(145, 145, 146, 0.452)
}

.artwork {
  cursor: pointer;
  max-height: 330px;
  max-width: 90%;
}

.artworkDescription {
  margin-top: 5vh;
  text-align: left;
  font-family: courier;
}

.title {
  cursor: pointer;
}


.modal {
  background: rgba(27, 18, 18, 0.8);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.modal img {
  min-height: 10vh;
  max-height: 60vh;
}

.modal .artworkContainer {
  height: 50%;
  width: 50%;
  padding-top: 3em;
  padding-bottom: 3em;
}

.modal .postContainer {
  min-width: 30vw;
  padding-top: 60px;
}

.modalTitle {
  color: gainsboro;
  font-family: courier;
  font-weight: 100;
  text-align: center;
}

.infoContainer {
  margin-top: .5rem;
  color: gainsboro;
  display: flex;
  justify-content: center;
  align-items: center;
}


.infoContainer span:nth-child(1) {
  cursor: default;
}

.divider {
  padding: 0 1rem;
}

.infoContainer a {
  color: gainsboro !important;
  text-decoration: underline;
}

.artistLink {
  position: absolute;
  bottom: 38vh;
  right: 35vw;
  color: gainsboro;
  font-weight: bold;
}

.closeBtn {
  cursor: pointer;
  color: white;
  position: absolute;
  left: 90%;
  bottom: 80%;
  font-size: 2rem;
}

.artworkCloseBtn {
  text-decoration: none !important;
  font-weight: 400;
  color: maroon;
  position: absolute;
  left: 90%;
  bottom: 85%;
  font-size: 2rem;
}

@media only screen and (max-width: 600px) {
  .postContainer {
    overflow: scroll;
    display: flex;
    flex-flow: column nowrap;
    max-width: none;
  }

  .modal .artworkContainer {
    min-width: 80%;
    min-height: 50%;
    max-width: 100vh;
    max-height: 60vh;
  }

  .modal .postContainer {
    display: flex;
    padding: 10px;
  }

  .title {
    font-size: 20px;
    cursor: pointer;
  }

  .closeBtn {
    right: 3vw !important;
    top: 1vh !important;
  }

}

