.artistProfileContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin-bottom: 10rem;
}

.mediaContainer {
  grid-column: 3 / 8;
}

.postContainer {
  display: flex;
  flex-flow: column nowrap;
  max-width: 20vw;
}

@media only screen and (max-width: 600px) {
  .postContainer {
    display: flex;
    flex-flow: column nowrap;
    max-width: none;
  }
  .title {
    font-size: 20px;
  }

  .artwork {
    max-height: 70vh;
  }
}

.artwork {
  cursor: pointer;
  max-height: 70vh;
}

.artworkDescription {
  margin-top: 5vh;
  text-align: left;
  font-family: courier;
}

.title {
  cursor: default;
}


.modal {
  background: rgba(27, 18, 18, 0.8);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.modal img {
  max-height: 85vh;
}

.modal .postContainer {
  min-width: 30vw;
}

.modalTitle {
  color: gainsboro;
  font-family: courier;
  font-weight: 100;
  text-align: center;
}

.infoContainer {
  margin-top: .5rem;
  color: gainsboro;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoContainer span:nth-child(1) {
  cursor: default;
}

.infoContainer span:nth-child(2) {
  padding: 0 1rem;
}

.infoContainer a {
  color: gainsboro !important;
  text-decoration: underline;
}

.artistLink {
  position: absolute;
  bottom: 38vh;
  right: 35vw;
  color: gainsboro;
  font-weight: bold;
}

.closeBtn {
  cursor: pointer;
  color: white;
  position: absolute;
  right: 30vw;
  top: 30vh;
  font-size: 2rem;
}
