.artistProfileContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.mediaContainer {
  grid-column: 3 / 8;
}

.postContainer {
  display: flex;
  flex-flow: column nowrap;
  max-width: 20vw;
}

.artwork {
  cursor: pointer;
}

.title {
  cursor: default;
}

.modal {
  inset: 0;
  background: radial-gradient(rgba(100,0,0,0.5), rgba(0,0,0,0.9));
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.artistLink {
  position: absolute;
  bottom: 38vh;
  right: 35vw;
  color: gainsboro;
  font-weight: bold;
}

.closeBtn {
  cursor: pointer;
  color: white;
  position: absolute;
  right: 30vw;
  top: 30vh;
  font-size: 2rem;
}
